[package]
name = "ncmc"
version = "0.1.10"
authors = ["阿卡琳 <hufan.akarin@Gmail.com>"]
edition = "2018"

description = "convert encrypted ncm file to original music file."
homepage = "https://github.com/magic-akari/ncmc"
repository = "https://github.com/magic-akari/ncmc"
license = "MIT"
readme = "README.md"
keywords = ["ncm", "converter", "ncmdump"]

[badges]
travis-ci = { repository = "magic-akari/ncmc" }
appveyor = { repository = "magic-akari/ncmc" }

[dependencies]
aes = "0.3.2"
block-modes = "0.3.3"
base64 = "0.11.0"
glob = "0.3.0"
metaflac = "0.2.2"
id3 = "0.5.0"
miniserde = "0.1.12"

[profile.release]
panic = "abort"
lto = true
